body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/A1pThW9w3mL._AC_SL1500_.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#recipeList{
  
  text-align: center;
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 1.25rem;


 
 
  
}
.card{
background-image: url(https://image.architonic.com/img_pro2-4/155/9160/dd110306-b.jpg);
width: 90%;
height: 700px;

margin:0% 5%;
padding: 5%;
overflow-x: hidden;
border-radius: 5%;
}
#recipeDetails{
  color: white;
  text-align: center;
  font-family: 'Caveat', cursive;

}

  
.card1{
  background-image: url(https://media.macphun.com/img/uploads/customer/blog/1543597882/15435984725c017188f41eb1.29284408.jpg?q=85&w=1680);
  width: 75%;
height: 400px;
margin-left: 5%;
padding: 5%;
overflow-y: scroll;
margin-bottom: 5%;
border-radius: 5%;
}
.craftList{
  
  text-align: center;
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 1.25rem;
}

#craftDetails.h1{
  margin-top:10%;
  color: black;
  text-align: center;
  font-family: 'Great Vibes', cursive;

}
#footer {
  text-align: center;
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  
  background-color:rgba(250, 248, 206, 0.568);
  font-family: 'Great Vibes', cursive;
  margin-top:8px;
}
.fileUpload{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
background-color: rgba(128, 128, 128, 0.322);
}
.photo{
  width: 50px;
  float: left;
  height: 50px;
  margin-right:0% ;

}
